.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;

    &:active {
        transform: scale(1.1);
    }
}

.primary-button {
    background: #9b1848;
    color: white;
}           